.botao {
    background: #2ecc71;
    color: #ecf0f1;
    border-color:#2980b9;
    width: 300px;
    margin-top: 1rem;
    border-radius: 7px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.botao:hover {
    background:#27ae60;
    cursor:pointer;
    transition: all .1s ease-in-out;
}