.cabecalho {
    background:#2980b9;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

@media  screen and (min-width:0) {
    .cabecalho{
        justify-content: center;
    }  
}

@media  screen and (min-width:768px) {
    .cabecalho{
        justify-content: space-between;
    }  
}